<div class="form-group m-3">
    <label>Name:</label>
    <input [(ngModel)]="playlistDraft.name" type="text" class="form-contol">
</div>
<div class="form-group m-3">
    <label>Public: <input type="checkbox" [(ngModel)]="playlistDraft.public" class="form-contol"></label>

</div>

<div class="form-group m-3">
    <label>Description:</label>
    <textarea type="text" [(ngModel)]="playlistDraft.description" class="form-contol"></textarea>
</div>

<button class="btn btn-warning" (click)="cancelEvent()">Cancel</button>
<button class="btn btn-warning" (click)="saveDraft()">Save</button>