<div class="input-group serachAlbum">
    <input type="search" class="form-control serachAlbum-input" placeholder="Search album" [(ngModel)]="searchValue"
        (ngModelChange)="serach(searchValue)" />
    <button class="btn btn-dark btn-lg serachAlbum-btn" (click)="submit()">
        <i class="bi bi-search"></i>
    </button>
</div>