@import '../../../../styles'

.noAlbums
    display: flex
    padding: 0 10vw
    height: 80vh
    justify-content: center
    align-items: center
    font-size: 3em
    text-align: center
    span
        color: $TextColor
        font-weight: 800
