<div class="row ">
    <div class="noAlbums" *ngIf="!albumList.length">
        <p>
            <span>Spotify</span>
            is a digital music service that gives you access to millions of songs!
        </p>
    </div>
    <div class="col col-lg-3 col-md-4 col-sm-6" *ngFor="let item of albumList">
        <app-album-cart [albumItem]="item"></app-album-cart>

    </div>

</div>