<nav class="navbar navbar-dark bg-dark d-flex nav">

  <div>
    <i style="color:white" class="bi bi-wifi-2 nav-icon"></i>
    <a class="navbar-brand  nav-name" href="#">Spotify</a>

  </div>

  <ul class="navbar-nav d-flex flex-row nav-links">
    <li class="nav-item ">
      <a class="nav-link" href="#/playlist">Playlist</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="#/music">Music</a>
    </li>
  </ul>

</nav>



<router-outlet></router-outlet>