@import '../styles'
.nav
    padding: 0
    &-name
        font-size: 40px
        font-weight: 700
    &-icon
        font-size: 40px
        font-weight: 700
        color: $TextColor !important

    ul
        font-size: 18px
        
        li
            margin-right:50px

