<div class="row">
    <div class="col">
        <app-playlist-list [playlistData]="playlist" [(selectedItem)]="selectedPlayList"> </app-playlist-list>
    </div>
    <div class="col" *ngIf="mode ==='detail'">
        <app-playlist-details [selectedItem]="selectedPlayList" (edit)="edit()"></app-playlist-details>
    </div>
    <div class="col" *ngIf="mode ==='edit'">
        <app-playlist-editor [selectedItem]="selectedPlayList" (cancel)="cancel()"
            (savePlaylistDraft)="savePlaylistDraft($event)"></app-playlist-editor>
    </div>
</div>