<p>playlist-details works!</p>

<dl>
    <dt>Name:</dt>
    <dd>{{playlistItem.name}}</dd>

    <dt>Public:</dt>
    <dd>{{playlistItem.public? 'Yes': 'No'}}</dd>

    <dt>Description:</dt>
    <dd>{{playlistItem.description}}</dd>

</dl>

<button class="btn btn-dark" (click)="editEvent()">Edit</button>