<div class="list-group">
    <div class="list-group-item" *ngFor="let item of playlist" [class.active]="item.id === selectedItem?.id"
        (click)="select(item)">
        <p>{{item.name}}</p>
        <p>{{item.description}}</p>
    </div>
</div>
<div></div>