/* You can add global styles to this file, and also import other style files */
$TextColor: #238567


// $mainButtonAuthColor: #e78469;

// $mainNavBackgroundColor: #414141;

// $tipColor: rgb(206, 206, 206);