<div class="card border-dark albumCart">

    <img class="card-img-top" src="{{albumItem.images[0].url}}" alt="Card image cap">

    <div class="card-body albumCart-body">
        <h4 class="card-title albumCart-title">{{albumItem.name}}</h4>
        <p class="card-text albumCart-tracks">Tracks: {{albumItem.total_tracks}}</p>
        <div class="card-text albumCart-text" *ngFor="let item of albumItem.artists; index as i">
            {{item.name}}
        </div>
        <button class="btn btn-outline-light albumCart-btn">Add</button>
    </div>


</div>