@import '../../../../styles'
.albumCart
    min-width: 200px
    margin: 12px
    &-btn
        margin-top: 1em
    &-body
        height: 100%
        background: #333333
        color: white
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    &-tracks
        color: $TextColor

